<div>
    <div class="viewFramework-topbar" data-spm="{{config.topbarSpm}}" ng-if="(!config.disableNavigation && !config.hideTopbar)">
        <div cb-shop-topbar workorder-id="config.workorderId" product-id="config.productId" topbar-nav-links="config.topbarNavLinks"></div>
    </div>
    <div class="viewFramework-body" ng-class="{'viewFramework-sidebar-mini':(!config.disableNavigation && !config.hideSidebar) && config.sidebar == 'mini','viewFramework-sidebar-full': (!config.disableNavigation && !config.hideSidebar) && config.sidebar == 'full','viewFramework-topbar-hide':config.disableNavigation || config.hideTopbar}">
        <div class="viewFramework-sidebar" data-spm="{{config.sidebarSpm}}" ng-if="(!config.disableNavigation && !config.hideSidebar)">
            <div cb-shop-sidebar product-id="{{config.productId}}" type="{{config.sidebar}}" spm-id="{{config.sidebarSpm}}" class="sidebar-content"></div>
        </div>
        <div class="viewFramework-product">
            <div class="viewFramework-product-body" id="j-viewFramework-scrollTop">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>